<div class="header">
  <div class="logo">
    <img src="../../../assets/images/budget-todo.jpg" alt="Flutter Logo">
    <span>BudgetTodo</span>
  </div>

  @if (isAuthenticated) {
    <nav class="nav-links">
      <a [routerLink]="">Home</a>
      <a [routerLink]="" >Budget</a>
      <a [routerLink]="">Todo</a>
      <div class="dropdown">
        <a [routerLink]="" class="dropbtn">Accounts</a>
        <div class="dropdown-content">
          <a [routerLink]="">Credit Cards</a>
          <a [routerLink]="">Saving Accounts</a>
          <a [routerLink]="">Current Accounts</a>
        </div>
      </div>
      <a [routerLink]="">Planner</a>
      <a [routerLink]="">Utilities</a>
    </nav>
    <div>
      <div class="dropdown text-end ms-2" >
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{(authService.user$ | async)?.picture}}" alt="userName" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logInLogOut('logout')">Sign out</a></li>
        </ul>
      </div>
    </div>
  }
  @else if (!isAuthenticated) {
    <div class="text-end">
      <button type="button" class="btn btn-outline-light me-2" (click)="logInLogOut('login')">Login</button>
    </div>
  }

  <!-- <div class="get-started">
    <input type="text" placeholder="Search">
    <button>Get started</button>
  </div> -->
    
</div>
