:host {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    padding: 10px 20px;
    color: white;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 30px;
    margin-right: 10px;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    position: relative;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
  }

  .dropdown-content {
    border-radius: 15px;
    margin-top: 20px;
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: rgb(0, 39, 180);
    padding: 10px 2px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #cacaca;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .get-started {
    display: flex;
    align-items: center;
  }

  .get-started input {
    padding: 5px;
    margin-right: 10px;
  }

  .get-started button {
    padding: 5px 10px;
    background-color: white;
    color: #2575fc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

}