<div class="home-container">
    <app-header [isAuthenticated]="isAuthenticated" (logInLogOutStatus)="logInLogOutStatus($event)"></app-header>
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <div class="router-holder">
            <div class="container">
                <router-outlet />
            </div>
        </div>
    </ng-container>
    <ng-template #loggedOut>
        <div class="container">
            <app-dashboard></app-dashboard>
        </div>
    </ng-template>
</div>


