fastapi
uvicorn
sqlalchemy
psycopg2-binary
# psycopg2
# mysqlclient
databases
pymysql
mysql-connector-python
python-keycloak
pydantic-settings
python-dotenv
asgiref
cffi
click
cryptography
h11
pycparser
pydantic
PyJWT
starlette
typing-extensions
imap-tools # To access and read the mails
BeautifulSoup4 # Access the HTML Elements
pandas
PyMuPDF # To read PDF files